/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/inter-v13-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/inter-v13-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/inter-v13-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/inter-v13-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --primary-font-family: "Inter", sans-serif;
  --color-primary: #e879f9;
  --color-heading: #4a044e;
  --color-neutral: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font-family);
  line-height: 1;
}

.main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.wrapper {
  --width: 30rem;
  max-width: var(--width);
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.game {
  padding: 1.5rem;
  border: 2px solid var(--color-primary);
  border-radius: 9px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.game__title {
  color: var(--color-heading);
  font-size: 2.074rem;
  text-align: center;
  margin-bottom: 2.074rem;
}

.game__number-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.074rem;
}

.game__number-container::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: var(--color-heading);
}

.game__secret-number {
  --size: 4rem;
  height: var(--size);
  width: var(--size);
  position: relative;
  background-color: var(--color-neutral);
  z-index: 1;
  border: 2px solid var(--color-heading);
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.728rem;
  font-weight: 700;
}

.game__statistics {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.074rem;
}

.game__statistic {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.game__icon {
  --size: 1.5rem;
  width: var(--size);
  height: var(--size);
  fill: var(--color-heading);
}

.game__statistic-title {
  font-weight: 500;
}

.game__statistic-value {
  color: var(--color-heading);
}

.game__start {
  text-align: center;
  margin-bottom: 1.5rem;
}

.game__message {
  color: var(--color-heading);
  font-weight: 600;
  font-size: 2.074rem;
  margin-bottom: 2.074rem;
}
.game__range {
  padding: 1rem;
  background-color: var(--color-heading);
  color: var(--color-neutral);
  border-radius: 9px;
  margin-bottom: 1rem;
}

.game__input {
  font-family: inherit;
  width: 100%;
  padding: 1rem;
  border: 2px solid var(--color-heading);
  border-radius: 9px;
  font-size: 1rem;
  color: var(--color-heading);
  font-weight: 600;

  transition: 0.3s;
}

.game__input:focus,
.btn:focus {
  outline: 2px solid var(--color-heading);
  outline-offset: 2px;
}

.game__input-container {
  position: relative;
}

.game__input:valid + .game__label {
  top: 0;
  background-color: var(--color-neutral);
  padding: 3px;
}

.game__label {
  color: var(--color-heading);
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  transition: top 0.3s;
}

.game__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-weight: 600;
  background-color: var(--color-heading);
  color: var(--color-neutral);
  border-radius: 9px;
  transition: 0.3s;
}

.btn--reset {
  padding: 0.5rem;
}

.btn--check {
  padding: 1rem 1.5rem;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
